<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="footer">
<div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>ニュースリリス配信サービス</h4>
                    <ul>
                        <li><a href="/about">プレスリリースとは</a></li>
                        <li><a href="/price">料金プラン</a></li>
                        <li><a href="/regist/media">プレスリリースを受信したい方へ</a></li>
                        <li><a href="/regist/comp">プレスリリースを配信したい方へ</a></li>
                        <li><a href="#">ログイン</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget link">
                    <h4>プレスリリース</h4>
                    <ul>
                        <li><a href="/">トップ</a><a href="/category/app/">アプリ</a><a href="/category/lifestyle/">ライフスタイル</a></li>
                        <li><a href="/ranking">ランキング</a><a href="/category/entertainment/">エンタメ</a><a href="/category/business/">ビジネス</a></li>
                        <li><a href="/category/technology/">テクノロジー</a><a href="/category/beauty/">ビューティー</a><a href="/category/gourmet/">グルメ</a></li>
                        <li><a href="/category/mobile/">モバイル</a><a href="/category/fashion/">ファッション</a><a href="/category/sports/">スポーツ</a></li>
                    </ul>
                </div>
        	</div>
        	<hr/>
			<div
				class="footer-bottom row align-items-center text-center text-lg-left no-gutters link">
				<p class="footer-text m-0 col-lg-8 col-md-12">
					<a href="/info">会社概要</a> <a href="#">プライバシーポリシー</a> <a href="#">情報セキュリティ</a>
					<a href="#">基本方針</a> <a href="#">プレスリリース掲載基準</a> <a href="/term">利用規約</a>

				</p>
				<p class="footer-text m-0 col-lg-8 col-md-12">
					<a href="#">企業様からのお問い合わせ </a> <a href="#">報道関係者様からのお問い合わせ </a> <a
						href="#">一般の皆様からのお問い合わせ</a>
				</p>
				<hr />
				<p class="footer-text m-0 col-lg-8 col-md-12">
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script>
					Sense PR
				</p>
			</div>
		</div>
</div>
</body>
</html>